[submodule "src/garden"]
	path = src/garden
	url = git@github.com:vito/garden.git
[submodule "src/serf"]
	path = src/serf
	url = https://github.com/hashicorp/serf
[submodule "src/maestro"]
	path = src/maestro
	url = https://github.com/vito/maestro.git
